repos/
tutorial/
logs/
data/
*.env
.venv/
__pycache__/
*/__pycache__/*
*.pyc
*.pyo
*.pyd
*.pyw
*.pyz
*.pywz
*.pyzw
*.pyzwz
/docs

# Cursor
*.cursorrules
*.cursorignore

*.zip

!data/agent_coverage_gaps/*