# AI Configuration
OPENAI_MODEL=
OPENAI_API_KEY=

# GitHub API (pipeline_api)
GITHUB_TOKEN=
GITHUB_REQUEST_INTERVAL=

# For pulling models for local inferecne
HF_API_TOKEN=

# Use if running groq inference
GROQ_API_KEY=