# AI Configuration
OPENAI_MODEL=
OPENAI_API_KEY=

# Observability
LANGFUSE_ENABLED=1
LANGFUSE_HOST="http://localhost:3000"
LANGFUSE_PUBLIC_KEY=
LANGFUSE_SECRET_KEY=

# GitHub API (pipeline_api)
GITHUB_TOKEN=
GITHUB_REQUEST_INTERVAL=